.project-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  max-width: 300px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
  opacity:0 ;
}

.project-card h3 {
  margin-top: 0;
}

.project-card a {
  color: #000508;
  text-decoration: double;
  font-weight: 600;
}

.project-card a:hover {
  text-decoration: underline;
}
